<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div th:fragment="asdf">
    <h2 align="middle">
        <div style="display: flex; justify-content: center; align-items: center;">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://lottie.host/29fef30d-181f-4000-9f8f-d445ce4a207b/2MWTibjsEi.json" background="transparent"
                           speed="2" style="width: 500px; height: 200px;" loop autoplay></lottie-player>

        </div>
    </h2>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">library</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/books/new">책 등록</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/books">책 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books/list">책 목록</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/like">관심 목록</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <sa class="nav-link" href="/rents">대여 목록</sa>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board/list">게시물 보기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">도서검색하기</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/join">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/logout">로그 아웃</a>
                </li>

                <!-- 보안 관련 인증 토큰을 히든 파라미터로 보내 줍니다.  네비게이션에서 회원가입 하기 위해서 인증토큰을 추가함-->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </ul>

        </div>
    </nav>
</div>
</html>