<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
      
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:if="${_csrf}" name="_csrf_parameter" th:content="${_csrf.parameterName}"/>

<!--사용자 정의 자바스크립트 추가-->
<th:block layout:fragment="script">
  <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });


    </script>



</th:block>

<body>
<div class="content" layout:fragment="content">


  <!-- 슬라이드 -->
  <div class="book-store">
    <div class="book-slide">
      <div class="book js-flickity flickity-enabled is-draggable" data-flickity-options='{ "wrapAround": true }'>


        <div class="flickity-viewport">
          <div class="flickity-slider">
            <th:block th:each="bean, status: ${bookMainDto}">
                <div class="book-cell">
                    <div class="book-img">
                        <img th:src="${bean.imageUrl}" th:alt="${bean.bookName}">
                    </div>
                    <div class="book-content">
                        <div class="book-title">[[${bean.bookName}]]</div>
                        <div class="book-author">[[${bean.author}]]</div>
                        <div class="book-sum">[[${bean.description}]]</div>
                        <a class="book-see" th:href="'/book/' + ${bean.id}">See The Book</a>
                    </div>
                </div>
            </th:block>
          </div>
        </div>
        <ol class="flickity-page-dots">
          <li class="dot"></li>
          <li class="dot is-selected"></li>
          <li class="dot"></li>
          <li class="dot"></li>
          <li class="dot"></li>
        </ol>
        <button class="flickity-prev-next-button previous" type="button">
          <svg viewBox="0 0 100 100">
            <path d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" class="arrow" transform="translate(15, 0)"></path>
          </svg>
        </button>
        <button class="flickity-prev-next-button next" type="button">
          <svg viewBox="0 0 100 100">
            <path d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" class="arrow" transform="translate(85, 100) rotate(180)"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="main-wrapper">
      <div class="search-box">
        <h2 class="search-title">자료 검색</h2>
        <form class="form-inline justify-content-center my-2 my-lg-0" th:action="@{/}" method="get">
          <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>



    </div>

  </div>








<!-- Link to page
==================================================
  <a href="https://front.codes/" class="logo" target="_blank">
      <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
  </a> -->

</body>
</html>
