<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">

<!-- 보안토큰 -->
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>



<!-- 사용자 정의 CSS 추가  -->
<th:block layout:fragment="css">
    <style>
        .fieldError{
            color:red; font-size:13pt;
        }

        .mgb-15{
            margin-bottom:15px;
        }

        .mgt-30{
            margin-top:30px;
        }

        .mgt-50{
            margin-top:10px;
            }

        .mgr-10{
              margin-right:10px;
            }

        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            margin-left:150px;
            margin-top:20px;
            width:50%;
            height:300px;
        }
        .wd50{
            height:auto;
            width:50%;
            margin-top:20px;
        }
    </style>
</th:block>

<!-- calculatetotalprice 시작하자마자 호출하고 count의 개수가 바뀌면 다시 수량과 단가를 곱해주는 계산식이 호출되도록 두번쓴것-->
<!-- 사용자 정의 스크립트 추가  -->
<th:block layout:fragment="script">
    <script th:inline="javascript">


    $(document).ready(function(){
        var errorMessage = [[${errMessage}]] ;
        if(errorMessage != null){
            alert(errorMessage) ;
        }
    });

    function noRent(){
        alert('대출중이어서 대여가 불가능합니다.');
    };


    function rent(){
        var myurl = '/rent';

        var paramData = {
            bookId:$('#bookId').val(),
            count:$('#count').val()
        };
        var param = JSON.stringify(paramData);

        var token = $('meta[name="_csrf"]').attr('content');
        var header = $('meta[name="_csrf_header"]').attr('content');

        $.ajax({
            url:myurl,
            type:'POST',
            contentType:'application/json',
            data:param,
            beforeSend:function(xhr){
                xhr.setRequestHeader(header,token);
            },
            datatype:'json',
            cache:false,
            success:function(result, status){
                alert('대여가 완료되었습니다.');
                location.href='/';
            },
            error:function(xhr,status,error){
                if(xhr.status == '401'){
                    alert('로그인 이후 이용해 주세요.');
                    location.href='/members/login';
                }else{
                    alert(xhr.responseText);
                }
            }

        });
    }

    function addLike(){
        var myurl = '/like';


        var paramData = {
            bookId:$('#bookId').val(),
            count:$('#count').val()
        };
        var param = JSON.stringify(paramData);



        var token = $('meta[name="_csrf"]').attr('content');
        var header = $('meta[name="_csrf_header"]').attr('content');

        $.ajax({
            url:myurl,
            type:'POST',
            contentType:'application/json',
            data:param,
            beforeSend:function(xhr){
                xhr.setRequestHeader(header, token) ;
            },
            dataType:'json',
            cache:false,
            success:function(result, status){
                alert('책을 관심목록에 추가하였습니다.');
                location.href='/like' ;
            },
            error:function(xhr, status, error){
            alert(xhr.status);
                if(xhr.status == '401'){
                    alert('로그인 이후 이용해 주세요.');
                    location.href='/members/login' ;
                }else{

                    alert(xhr.responseText);

                }
            }
        });
    }

  </script>
</th:block>

<div class="content" layout:fragment="content">
    <input type="hidden" id="bookId" th:value="${dto.bookId}">
    <div class="d-flex">
        <!-- /* 대표 이미지 영역 */ -->
        <div class="repImgDiv">
            <img class="rounded repImg" th:alt="${dto.bookName}"
                 th:src="${dto.bookImageDtoList[0].imageUrl}" height="20" width="20">   <!--"alt"는 "alternative"의 약어로, 이미지가 로드되지 않았을 때 대신해서 보여줄 대체 텍스트를 의미합니다. -->
            <!--"src"는 "source"의 약어로, 이미지 파일의 경로나 URL을 의미합니다.  -->

        </div>

        <!-- 상품 디테일에서 이름 위에 판매중, 품절  형광펜처럼 뜨게끔 하는 것 생성해주기-->
        <div class="wd50">
            <span class="badge badge-primary mgb-15" th:if="${dto.bookRentalStatus == T(com.library.constant.BookRentalStatus).POSSIBLE && dto.stock > 0}">
                대여가능
            </span>
            <span class="badge badge-danger mgb-15" th:unless="${dto.bookRentalStatus == T(com.library.constant.BookRentalStatus).POSSIBLE && dto.stock > 0}">
                대여불가
            </span>
            <div class="h4" th:text="${dto.bookName}"></div>

            <!--얇은 선은 hr 태그 사용하면 된다-->
            <hr class="my-4">
            <div class="text-right">

                <div>
                    <table>
                        <tr>
                            <th>isbn</th>
                            <td name="isbn" id="isbn" th:text="${dto.isbn}"></td>
                        </tr>
                        <tr>
                            <th>저자</th>
                            <td th:text="${dto.author}"></td>
                        </tr>
                        <tr>
                            <th>출판사</th>
                            <td th:text="${dto.bookPublisher}"></td>
                        </tr>
                        <tr>
                            <th>출판일</th>
                            <td th:text="${dto.publishingDate}"></td>
                        </tr>
                        <tr>
                            <th>재고</th>
                            <td th:text="${dto.stock}"></td>
                        </tr>
                        <tr>
                            <th>페이지</th>
                            <td th:text="${dto.page} + ' p'"></td>
                        </tr>
                        <tr>
                            <th>무게</th>
                            <td th:text="${dto.weight} + ' g'"></td>
                        </tr>
                        <tr>
                            <th>규격</th>
                            <td th:text="${dto.hor} + '*' + ${dto.ver} + '*' + ${dto.width}"></td>
                        </tr>
                        <tr>
                            <th>재고</th>
                            <td th:text="${dto.stock} + ' 권'"></td>
                        </tr>
                    </table>
                </div>


                <!-- 수량 보여줌 input-group으로 처리했었다-->
                <div class="input-group w-50">
                    <div class="input-group prepend">
                        <span class="input-group-text">수량</span>

                        <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                    </div>
                </div>
            </div>





            <!--얇은 선은 hr 태그 사용하면 된다-->
            <hr class="my-4">


            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-light border-primary btn-lg" onclick="addLike()">관심</button>
                <div class="text-right" th:if="${dto.bookRentalStatus == T(com.library.constant.BookRentalStatus).POSSIBLE}">
                    <button type="button" class="btn btn-primary btn-lg" onclick="rent()">대여하기</button>
                </div>
                <div class="text-right" th:unless="${dto.bookRentalStatus == T(com.library.constant.BookRentalStatus).POSSIBLE}">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="noRent()">대출중</button>
                    =======
                    <div class="text-right"
                         th:if="${dto.bookRentalStatus == T(com.library.constant.BookRentalStatus).POSSIBLE && dto.stock > 0}">
                        <button type="button" class="btn btn-light border-primary btn-lg" onclick="addLike()">관심목록 추가</button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="rent()">대여하기</button>
                    </div>
                    <div class="text-right"
                         th:unless="${dto.bookRentalStatus == T(com.library.constant.BookRentalStatus).POSSIBLE && dto.stock > 0}">
                        <button type="button" class="btn btn-light border-primary btn-lg" onclick="addLike()">관심목록 추가</button>
                        <button type="button" class="btn btn-danger btn-lg" onclick="noRent()">대출중</button>
                        >>>>>>> main

                        <!--btn-lg << lg는 large-->
                    </div>
                </div>
            </div>

            <div class="jumbotron jumbotron-fluid mgt-30">
                <div class="container">
                    <h4 class="display-5">책 내용 설명</h4>
                    <hr class="my-4">
                    <p class="lead" th:text="${dto.description}"></p>
                </div>
            </div>

            <div class="text-center" th:each="bookImage : ${dto.bookImageDtoList}">
                <img th:if="${not #strings.isEmpty(bookImage.imageUrl)}" th:src="${bookImage.imageUrl}"
                     class="rounded mgb-15" width="500" height="350">
            </div>

        </div>



</html>
