<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <script>
   $(document).ready(function() {
      $(".deleteBtn").on("click", function(event) {
            var confirmDelete = confirm('회원을 탈퇴 하시겠습니까?');
            if (!confirmDelete) {
              event.preventDefault();
            }
      });
   });
</script>


</head>
<div class="content" layout:fragment="content">


    <form th:action="@{'/members/mypage'}" role="form" method="get" >
        <div id="wrap">

            <br><br>
            <h1>마이페이지</h1>

            <h2>회원 정보</h2>
            <table>
                <thead>
                <tr>
                    <th>회원명</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p th:if="${not #lists.isEmpty(myPageDto)}"> <span th:text="${myPageDto[0].name}"></span></p></td>
                </tr>
                <tr th:if="${not #lists.isEmpty(myPageDto)}" class="deleteBtn">
                    <td><a th:href="@{'/members/member/delete/' + ${myPageDto[0].memberId}}">회원 탈퇴</a></td>
                </tr>
                </tbody>
            </table>
            <br><br>
            <h2>책 대출 정보</h2>
            <table>
                <thead>
                <tr>
                    <th>책이름</th>
                    <th>ISBN</th>
                    <th>대여권수</th>
                    <th>대출상태</th>
                    <th>대출일자</th>
                    <th>반납예정일자</th>
                </tr>
                </thead>
                <tbody th:if="${not #lists.isEmpty(myPageDto)}">
                <tr th:each="dto : ${myPageDto}">
                    <td th:text="${dto.bookName}"></td>
                    <td th:text="${dto.isbn}"></td>
                    <td th:text="${dto.count}"></td>
                    <td th:text="${dto.rentStatus}"></td>
                    <td th:text="${#temporals.format(dto.startDate, 'yyyy:MM:dd')}"></td>
                    <td th:text="${#temporals.format(dto.expectedReturnDate, 'yyyy:MM:dd')}"></td>

                </tr>
                </tbody>
                <tbody th:unless="${not #lists.isEmpty(myPageDto)}">
                <tr>
                    <td colspan="6">대여한 항목이 없습니다.</td>
                </tr>
                </tbody>
            </table>

        </div>
    </form>

</div>
</html>