<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        // 화면 오픈시 무조건 실행될 자바스크립트
        $(document).ready(function(){

            // 검색버튼 클릭했을때
            $("#searchBtn").on("click", function(){
                // 1. 검색종류의 값을 가져온다.
                var srchKind = $("#srchKind").val();

                // 2. 검색 내용을의 값을 가져온다.
                var srchData = $("#srchData").val();

                // 두개의 값을 가지고 컨트롤러에 보내준다.
                location.href="/library/hopeBookAppListBySrchData"
                + "?srchKind=" + srchKind
                + "&srchData=" + srchData;
            });
        });

        //체크박스 전체 선택 클릭 이벤트
        function allChecked(target){

            //전체 체크박스 버튼
            const checkbox = document.getElementById('allCheckBox');

            //전체 체크박스 버튼 체크 여부
            const is_checked = checkbox.checked;

            //전체 체크박스 제외한 모든 체크박스
            if(is_checked){
                //체크박스 전체 체크
                chkAllChecked()
            }

            else{
                //체크박스 전체 해제
                chkAllUnChecked()
            }
        }

        //자식 체크박스 클릭 이벤트
        function chkClicked(){

            //체크박스 전체개수
            const allCount = document.querySelectorAll(".chk").length;

            //체크된 체크박스 전체개수
            const query = 'input[name="chk"]:checked'
            const selectedElements = document.querySelectorAll(query)
            const selectedElementsCnt = selectedElements.length;

            //체크박스 전체개수와 체크된 체크박스 전체개수가 같으면 전체 체크박스 체크
            if(allCount == selectedElementsCnt){
                 document.getElementById('allCheckBox').checked = true;
            }

            //같지않으면 전체 체크박스 해제
            else{
                document.getElementById('allCheckBox').checked = false;
            }
        }

        //체크박스 전체 체크
        function chkAllChecked(){
            document.querySelectorAll(".chk").forEach(function(v, i) {
                v.checked = true;
            });
        }

        //체크박스 전체 체크 해제
        function chkAllUnChecked(){
            document.querySelectorAll(".chk").forEach(function(v, i) {
                v.checked = false;
            });
        }

        /************************
         * 승인 버튼을 클릭했을때
         *************************/
        function approvalBtnClick() {

            // 체크된 태그들을 담은 변수
            var checkbox = $("input[name=chk]:checked");

            // 체크된 태그들을 담은 변수의 길이가 0이면
            if(checkbox.length < 1) {
                alert('승인할 항목을 선택해주세요.')
                return false;
            }
            var appSttsCheck = false;

            // 체크된 체크박스의 신청상태코드 값 체크
            checkbox.each(function(i) {

              // checkbox.parent() : checkbox의 부모는 <td>이다.
              // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
              var tr = checkbox.parent().parent().eq(i);
              var td = tr.children();

              // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.

              //9.신청상태코드
              // var aplyStts = td.eq(11).text();
              var aplyStts = td.eq(11).children()[0].value;

              if (aplyStts != '1') {
                appSttsCheck = true;
                return;
              }
            });

            if(appSttsCheck){
                alert('신청상태가 신청인 상태만 승인 처리가 가능합니다.')
                return false;
            }
            //---------------------------
            // 선택된 체크 박스 값 가져오기
            //----------------------------
            var list = new Array();

            // 체크된 체크박스의 신청상태코드 값 체크
            for(var i=0; i < checkbox.length; i++) {

              // checkbox.parent() : checkbox의 부모는 <td>이다.
              // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
              var tr = checkbox.parent().parent().eq(i);
              var td = tr.children();

              // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.

              // 1) 순번
              var sn = td.eq(0).children()[0].value;
              // 2) 검토사유
              var rvwOpnn = td.eq(10).children()[0].value;
              list[i] = {
                      "sn" :  sn
                    , "rvwOpnn" : rvwOpnn
              }
            };
            var list = {
               "list" : JSON.stringify(list)
            }

          // ajax를 이용하여 체크된 리스트를 HopeBookAppListController로 넘기기
          // ------------------------
          // 승인
          // ------------------------
          $.ajax({
                type : "get"
              , url : "/library/approvalAppList"
              // 데이터를 받는 방식
              , data : list
              ,async : false
              , success : function(result){
                    var updateCnt = result[0].updateCnt;
                    alert(updateCnt + "건이 승인처리되었습니다.")

                    // 재조회
                    location.href = "/library/hopeBookAppList";
              }
            });
        }

         /************************
         * 반려 버튼을 클릭했을때
         *************************/
         function returnBtnClick() {

            // 체크된 태그들을 담은 변수
            var checkbox = $("input[name=chk]:checked");

            // 체크된 태그들을 담은 변수의 길이가 0이면
            if(checkbox.length < 1) {
                alert('반려할 항목을 선택해주세요.')
                return false;
            }
            var appSttsCheck = false;

            // 체크된 체크박스의 신청상태코드 값 체크
            checkbox.each(function(i) {

              // checkbox.parent() : checkbox의 부모는 <td>이다.
              // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
              var tr = checkbox.parent().parent().eq(i);
              var td = tr.children();

              // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.

              //9.신청상태코드
              // var aplyStts = td.eq(11).text();
              var aplyStts = td.eq(11).children()[0].value;

              if (aplyStts != '1') {
                appSttsCheck = true;
                return;
              }
            });

            if(appSttsCheck){
                alert('신청상태가 신청인 상태만 반려 처리가 가능합니다.')
                return false;
            }
            //---------------------------
            // 선택된 체크 박스 값 가져오기
            //----------------------------
            var list = new Array();

            // 체크된 체크박스의 신청상태코드 값 체크
            for(var i=0; i < checkbox.length; i++) {

              // checkbox.parent() : checkbox의 부모는 <td>이다.
              // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
              var tr = checkbox.parent().parent().eq(i);
              var td = tr.children();

              // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.

              // 1) 순번
              var sn = td.eq(0).children()[0].value;
              // 2) 검토사유
              var rvwOpnn = td.eq(10).children()[0].value;
              list[i] = {
                      "sn" :  sn
                    , "rvwOpnn" : rvwOpnn
              }
            };
            var list = {
               "list" : JSON.stringify(list)
            }

          // ajax를 이용하여 체크된 리스트를 HopeBookAppListController로 넘기기
          // ------------------------
          // 반려
          // ------------------------
          $.ajax({
                type : "get"
              , url : "/library/returnAppList"
              // 데이터를 받는 방식
              , data : list
              ,async : false
              , success : function(result){
                    var updateCnt = result[0].updateCnt;
                    alert(updateCnt + "건이 반려처리되었습니다.")

                    // 재조회
                    location.href = "/library/hopeBookAppList";
              }
          });
        }

         /************************
         * 입고 버튼을 클릭했을때
         *************************/
         function completeBtnClick() {

            // 체크된 태그들을 담은 변수
            var checkbox = $("input[name=chk]:checked");

            // 체크된 태그들을 담은 변수의 길이가 0이면
            if(checkbox.length < 1) {
                alert('반려할 항목을 선택해주세요.')
                return false;
            }
            var appSttsCheck = false;

            // 체크된 체크박스의 신청상태코드 값 체크
            checkbox.each(function(i) {

              // checkbox.parent() : checkbox의 부모는 <td>이다.
              // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
              var tr = checkbox.parent().parent().eq(i);
              var td = tr.children();

              // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.

              //9.신청상태코드
              // var aplyStts = td.eq(11).text();
              var aplyStts = td.eq(11).children()[0].value;

              // 신청상태가 승인('2')이 아니면
              if (aplyStts != '2') {

                // appSttsCheck를 true로 바꿔줌
                appSttsCheck = true;

                return;
              }
            });

            // appSttsCheck가 true면
            if(appSttsCheck){

                alert('신청상태가 승인인 상태만 입고 처리가 가능합니다.')
                return false;
            }
            //---------------------------
            // 선택된 체크 박스 값 가져오기
            //----------------------------
            var list = new Array();

            // 체크된 체크박스의 신청상태코드 값 체크
            for(var i=0; i < checkbox.length; i++) {

              // checkbox.parent() : checkbox의 부모는 <td>이다.
              // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
              var tr = checkbox.parent().parent().eq(i);
              var td = tr.children();

              // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.

              // 1) 순번
              var sn = td.eq(0).children()[0].value;
              // 2) 검토사유
              var rvwOpnn = td.eq(10).children()[0].value;

                // 이미지
                var image =  td.eq(12).children()[0].value;
                // 링크
                var link =  td.eq(13).children()[0].value;
                // 도서명
                var bookName =  td.eq(14).children()[0].value;
                // 출판사
                var bookPublisher =  td.eq(15).children()[0].value;
                // 저자
                var author =  td.eq(16).children()[0].value;
                // 발행일
                var publishingDate =  td.eq(17).children()[0].value;
                // isbn
                var isbn =  td.eq(18).children()[0].value;


              list[i] = {
                      "sn" :  sn
                    , "rvwOpnn" : rvwOpnn
                    , "image" : image
                    , "link" : link
                    , "bookName" : bookName
                    , "bookPublisher" : bookPublisher
                    , "author" : author
                    , "publishingDate" : publishingDate
                    , "isbn" : isbn
              }
            };
            var list = {
               "list" : JSON.stringify(list)
            }


          // ajax를 이용하여 체크된 리스트를 HopeBookAppListController로 넘기기
          // ------------------------
          // 입고완료
          // ------------------------
          $.ajax({
                type : "get"
              , url : "/library/completeAppList"
              // 데이터를 받는 방식
              , data : list
              , async : false
              , success : function(result){
                    var updateCnt = result[0].updateCnt;
                    alert(updateCnt + "건이 입고완료 처리되었습니다.")

                    // 재조회
                    location.href = "/library/hopeBookAppList";
              }
          });
        }

    </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
        .ellipsis {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .textarea {
          border: none;
          resize: none;
          height: 200px;
          display: flex;
          align-items: center;
        }
    </style>
</th:block>


<!--
    [희망도서신청목록내역 화면]
    1. 검색
        검색조건 1) SELECT BOX (1.책이름 2.저자 3.출판사 )
        검색조건 2) TEXT (텍스트)
    2. 조회 그리드(테이블/리스트)
        컬럼 0) CHECK BOX (선택유무)
        컬럼 1) 게시글 순번(PK아님)
        컬럼 2) 희망도서명
        컬럼 3) 신청일
        컬럼 4) 신청상태
        컬럼 5) 신청사유
-->
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--시작-->
<div class="content" layout:fragment="content" style="margin: 0 50px;">
    <p class="h2">
        &nbsp;&nbsp;&nbsp;&nbsp;희망도서신청목록
    </p><br/><br/>
<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- 1.희망도서신청목록내역  검색 박스 -->
    <!-- /* 필드 검색 */ -->
    <!--<form th:action="@{'/admin/products/' + ${products.number}}" role="form" method="get" th:object="${products}">-->


        <div style="text-align: right" class="form-inline justify-content-center" th:object="${searchDto}">
            <!--<select th:field="*{searchBy}" class="form-control" style="width:auto;">-->
            <select th:field="*{srchKind}" class="form-control" style="width:auto;">
                <option value="1">도서명</option>
                <option value="2">저자</option>
                <option value="3">출판사</option>
            </select>
            <!--<input th:field="*{searchQuery}" class="form-control" type="text" placeholder="검색어를 입력해주세요.">-->
            <input th:field="*{srchData}" class="form-control" type="text" placeholder="검색어를 입력해주세요.">&nbsp;&nbsp;
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-secondary" onclick="approvalBtnClick()">승인</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-secondary" onclick="returnBtnClick()">반려</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-secondary" onclick="completeBtnClick()">입고</button>
        </div>
    <!--</form>-->
    <br>
    <!-- 2.희망도서신청목록내역 그리드 -->
    <table class="table" id="table_id">
        <thead>
            <tr>
                <th>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="allCheckBox" onclick="allChecked()">
                    </label>
                </th>
                <td style="vertical-align: middle;">번호</td>
                <td style="vertical-align: middle;">책표지</td>
                <td style="vertical-align: middle;">희망도서명</td>
                <td style="vertical-align: middle;">출판사</td>
                <td style="vertical-align: middle;">저자</td>
                <td style="vertical-align: middle;">발행일</td>
                <td style="vertical-align: middle;">신청일</td>
                <td style="vertical-align: middle;">신청상태</td>
                <td style="vertical-align: middle;">신청사유</td>
                <td style="vertical-align: middle;">검토의견</td>
            </tr>
        </thead>
        <tbody>
            <form id="myForm" action="/library/update" method="post">
                <tr th:each="form, status: ${list}">
                    <td style="vertical-align: middle;">
                        <input type="checkbox" name="chk" class="chk checkbox-inline" onclick="chkClicked()" th:value="${form.hopeBookAppSn}">
                    </td>
                    <!--1.게시글순번-->
                    <td width="80px" height="50px" th:text="${form.no}" style="vertical-align: middle;"></td>
                    <!--2.이미지파일-->
                    <td height="50px" width="150px"><img th:src="${form.image}" ></td>
                    <!--3.이미지링크-->
                    <td width="300px"  height="50px" align="left" style="vertical-align: middle; text-overflow: ellipsis;"><a class="ellipsis" th:href="${form.link}" target='_blank'>[[${form.bookName}]]</a></td>

                    <!--4.출판사-->
                    <td th:text="${form.bookPublisher}"  id="bookPublisher" height="50px" width="150px" style="vertical-align: middle;"></td>
                    <!--5.저자-->
                    <td th:text="${form.author}" id="author"  height="50px" style="vertical-align: middle;"></td>
                    <!--6.발행일-->
                    <td width="200px" height="50px" th:text="${form.publishingDate}" style="vertical-align: middle;"></td>
                    <!--7.신청일-->
                    <td width="200px"   height="50px"th:text="${form.aplyDt}" style="vertical-align: middle;"></td>
                    <!--8.신청상태명-->
                    <td width="200px"   height="50px"th:text="${form.aplySttsNm}" style="vertical-align: middle;"></td>
                    <!--9.신청사유-->
                    <td width="250px"  height="50px"th:text="${form.aplyReason}" style="vertical-align: middle;"></td>
                    <!--10.검토의견-->
                    <td width="350px">
                        <textarea class="form-control textarea" type="text" th:value="${form.rvwOpnn}" th:text="${form.rvwOpnn}"
                                  th:readonly="${form.aplyStts eq '1' ? false :'readonly'}"
                        ></textarea>
                    </td>
                    <!--11.신청상태코드(히든)-->
                    <td style="display: none;"><input type="hidden" th:value="${form.aplyStts}"/></td>
                    <td style="display: none;"><input type="hidden" th:value="${form.image}"/></td>
                    <td style="display: none;"><input type="hidden" th:value="${form.link}"/></td>
                    <td style="display: none;"><input type="hidden" th:value="${form.bookName}"/></td>
                    <td style="display: none;"><input type="hidden" th:value="${form.bookPublisher}"/></td>
                    <td style="display: none;"><input type="hidden" th:value="${form.author}"/></td>
                    <td style="display: none;"><input type="hidden" th:value="${form.publishingDate}"/></td>
                    <td style="display: none;"><input type="hidden" th:value="${form.isbn}"/></td>
                </tr>
            </form>
        </tbody>
    </table>
</div>
</html>