<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
    <link href="fullcalendar.main.min.css" rel="stylesheet" />
    <script src="fullcalendar.main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bPopup/0.00.0/jquery.bpopup.min.js"></script>
    <script>
        document.addEventListner('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            googleCalendarApiKey: 'AIzaSyA9PRtkRpnrddXLk1ve_uDtcyJzssGD4ZM',
            events: {
            googleCalendarId: 'a02c5244f7d519760029da0239231509bd7994c3e657e9bc7953ab8b17a201c7@group.calendar.google.com',
            className: 'gcal-event'
            }
        });
        calendar.render();
        });
    </script>

</head>
<body>
    <div id="calendar"></div>
</body>
</html>